@keyframes pproducts {
  from {
    opacity: 0;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -70%);
  }
}

@keyframes slidingNav {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slidingFilter {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes slidingSublist {
  from {
    transform: translateY(-4px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
