.product__card {
  background-color: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.05);
  cursor: pointer;
  box-shadow: 0 2px 4px 1px rgba($color-primary, 0.1);
  &--img {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: block;
    height: auto;
    padding-top: 56.7%;
    img {
      display: block;
      max-width: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
  &--content {
    padding: 2rem 1rem;
  }
  &--title {
    color: $color-dark-bg;
    padding-bottom: 0.7rem;
    font-weight: 400;
    font-size: 1.8rem;
  }
  &--subtitle {
    padding-top: 0.7rem;
    color: #666;
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 0.7rem;
  }
  &--price {
    font-size: 2.2rem;
    color: $color-secondary;
    font-weight: 700;
  }
}
