.landing-carousel-item {
  height: 25rem;
  width: 100%;
  background-size: cover;
  background-position: bottom;
}

.p-products {
  @include respond(phone) {
    margin-left: 3rem;
  }
  &__cards {
    @include flex-row;
    @include respond(phone) {
      width: 100%;
      align-items: center;
      overflow: hidden;
      display: flex;
      overflow-x: auto;
      flex-direction: row;
    }
  }
  &__card {
    position: relative;
    width: calc(100% / 4);
    overflow: hidden;
    @include respond(phone) {
      width: calc(100% / 5);
      flex-shrink: 0;
      width: 18rem;
      height: 18rem;
      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
    &--content {
      position: absolute;
      top: 60%;
      left: 50%;
      opacity: 0;
      z-index: 1;
      @include respond(phone) {
        opacity: 1;
        transform: translate(-50%, -50%);
      }
    }
    &:hover &--content {
      animation: pproducts 0.5s cubic-bezier(0.47, 0.58, 0.12, 0.95) forwards;
      @include respond(phone) {
        animation: none;
      }
    }
    img {
      overflow: hidden;
      width: 100%;
      height: 25rem;
      object-fit: cover;
      @include respond(phone) {
        height: 30rem;
      }
    }
    &--img {
      width: 100%;
    }

    &--img::after {
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.handbags {
  padding-bottom: 4rem;
  &__cards {
    padding-top: 2rem;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, minmax(200px, 5fr));
    padding-bottom: 3rem;
    @include respond(phone) {
      grid-template-columns: repeat(5, 160px);
      grid-gap: 2rem;
      width: 100%;
      overflow-x: auto;
      margin-bottom: 3rem;
      padding-bottom: 1rem;
    }
  }
  &__footer {
    display: block;
    text-align: center;
  }
  &--btn {
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    margin-left: auto;
    text-decoration: none;
  }
}

.heading-carousel {
  @include respond(phone) {
    padding-left: 3rem;
  }
}
